<ion-header>

</ion-header>

<ion-content>
    <div class="container">

        
        <div>
            <ion-img class="profile" src="../assets/person.svg"></ion-img>
      
      <h2>Create Profile</h2>
        </div>
        <form (ngSubmit)="update(UserData)" #UserData="ngForm">
          <mat-form-field appearance="outline">
            <mat-label>First-name</mat-label>
            <input type="name"ngModel matInput #name="ngModel" name="name"[(ngModel)]="profile.name" placeholder="Firstname"required>

          </mat-form-field>
          <br>

          <mat-form-field appearance="outline">
            <mat-label>Surname</mat-label>
            <input matInput  placeholder="surname" ngModel #surname="ngModel"[(ngModel)]="profile.surname" name="surname" required>


          </mat-form-field> <br>

          <mat-form-field appearance="outline">
            <mat-label>Cellphone</mat-label>
            <input matInput  type="tel"  placeholder="phone" ngModel #phone="ngModel"[(ngModel)]="profile.phone" name="phone" required>

          </mat-form-field> <br>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput  placeholder="address" ngModel #address="ngModel" [(ngModel)]="profile.address"name="address" required>

          </mat-form-field> <br>

          <ion-button type="submit" color="#42d77d" >Save</ion-button>

        </form>
      </div>
</ion-content>
