<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <div *ngFor="let item of cartinfo">


  <ion-card >



    <ion-row>
      <ion-col size="4">
        <div class="image">

          <ion-img src="{{item.payload.doc.data().productImage}}"></ion-img>

        </div>

      </ion-col>
      <ion-col size="5">
        <ion-card-subtitle>{{item.payload.doc.data().productName}}  {{item.payload.doc.data().productPrice|currency:'R'}}</ion-card-subtitle>



          <ion-buttons color="success"  >

            <ion-button (click)="subtract(item.payload.doc.data().productQty,item.payload.doc.id )" color="success"  shape="round"   >
              <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="remove-circle"></ion-icon>
            </ion-button>

           {{item.payload.doc.data().productQty}}

            <ion-button (click)="add(item.payload.doc.data().productQty,item.payload.doc.id )"  color="success" >
              <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="add-circle"></ion-icon>
            </ion-button>

          </ion-buttons>

      </ion-col>
      <ion-col>
        <ion-buttons (click)="remove(item.payload.doc.id)"  >

          <ion-button color="danger" >
          <ion-icon   slot="icon-only"  ios="ellipsis-horizontal" md="trash">


          </ion-icon>

        </ion-button>
        </ion-buttons>
      </ion-col>

    </ion-row>





  </ion-card>

</div>


</ion-content>
<ion-footer>
  <ion-toolbar>

    <div class="cart-button">
      <h1>Total</h1>
      <h2>{{total|currency:'R'}}</h2>
    <ion-button  (click)="placeOrder()"  expand="block" color="success">
      Place Order

    </ion-button>
  </div>
  </ion-toolbar>
</ion-footer>
