
<ion-header>
  
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Forgot Password</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <div class="container">
    <p>Enter Emain to reset Password</p>
    <form #form="ngForm" (ngSubmit)="resetPassword(form)">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput name="email" placeholder="Enter email"[(ngModel)]="email">

      </mat-form-field>
      <br>

      <ion-button type="submit" color="#42d77d" (click)="resetPassword()" >Sign In</ion-button>

    </form>
  </div>

</ion-content>
