
.container{

    max-width: 600px;
    padding-top: 10px;
    margin: auto;
}
ion-toolbar{

    width: 600px;
}
ion-title, p
{
    color: #929694;
}
form ion-button{
    width: 98%;
   background-color: #5cff9d;

}
form
{
    width: 90%;
}
mat-form-field {
    
    width: 98%;
}

