
<ion-content>
  <div slot="fixed" class="container">
    <div>
      <ion-img class="logo" src="../assets/logo.png"></ion-img>
  <h2>Create and Account
    
  </h2>
  <h2>Sign up</h2>
    </div>
    <form [formGroup]="registerForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Enter email">
  
      </mat-form-field>

      <div class="err" *ngIf="registerForm.get('email').touched && registerForm.get('email').invalid">
        <span *ngIf="registerForm.controls.email.errors.emailValidity; else elseBlock">
          *invalid email
        </span>
        <ng-template #elseBlock>
         *email is required* 
        </ng-template>
        
      </div>
      <br>
  
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Enter password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      </mat-form-field>
      <div class="err" *ngIf="registerForm.get('password').touched && registerForm.get('password').invalid">
        <span *ngIf="registerForm.controls.password.errors.passwordValidity; else elseBlock">
          *password doesnt match
        </span>
        <ng-template #elseBlock>
         *password is required* 
        </ng-template>
        
      </div>
       <br>
      
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordd" placeholder="Enter password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      </mat-form-field> 

      <div class="err" *ngIf="registerForm.get('passwordd').touched && registerForm.get('passwordd').invalid">
        <span *ngIf="registerForm.controls.passwordd.errors.passwordValidity; else elseBlock">
          *password doesnt match
        </span>
        <ng-template #elseBlock>
         *confirm password is required* 
        </ng-template>
        
      </div> 
      <br>

      <ion-button type="submit" color="#42d77d"(click)="Register()" >Create</ion-button>
  
    </form>
  
    <div>
  
  <p>Already have an Account</p>
  
  
  <a routerLink="/signin" routerLinkActive="active"><strong>Sign in</strong></a>
  
  
    </div>
    <div class="bottom">
  
      <ion-img class="picture" src="../assets/mixed-fresh-fruits-vegetables-produce.jpg"></ion-img>
    </div>
  
  
  </div>
</ion-content>
