<ion-header>
  <ion-toolbar>
    <ion-title>payfast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Click  to Complete your Payment</h2>


  <a href="https://www.payfast.co.za/eng/process?cmd=_paynow&amp;


  receiver=17459406&amp;

  item_name=Apple&amp;
  item_name=Apple&amp;
  amount={{total}}&amp;


  return_url=https%3A%2F%2Fgithub.com%2Fstuurdean%2Ffarmcity&amp;
  cancel_url=https%3A%2F%2Fgithub.com%2Fstuurdean%2Ffarmcity">


  <img src="https://www.payfast.co.za/images/buttons/light-large-paynow.png" width="174"
  height="59" alt="Pay" title="Pay Now with PayFast" /></a>
</ion-content>


