<script language="JavaScript" type="text/javascript">

  function click_8d9ac438f32d1d351842226c6ec3df02( aform_reference ) {
              var aform = aform_reference;
              aform['amount'].value = Math.round( aform['amount'].value*Math.pow( 10,2 ) )/Math.pow( 10,2 );
  }

  </script>

  <form action="https://www.payfast.co.za/eng/process" name="form_8d9ac438f32d1d351842226c6ec3df02" onsubmit="return click_8d9ac438f32d1d351842226c6ec3df02( this );" method="post">
  <input type="hidden" name="cmd" value="_paynow">
  <input type="hidden" name="receiver" value="17459406">
  <input type="hidden" name="item_name" value="Apple">
  <input type="hidden" name="amount" value="20.00">
  <input type="hidden" name="item_description" value="">
  <input type="hidden" name="return_url" value="https://github.com/stuurdean/farmcity">
  <input type="hidden" name="cancel_url" value="https://github.com/stuurdean/farmcity">

  <table>
  <tr><td colspan=2 align=center><input type="image" src="https://www.payfast.co.za/images/buttons/light-large-paynow.png" width="174" height="59" alt="Pay Now" title="Pay Now with PayFast"></td></tr></table>
  </form>
