<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">

  <ng-container *ngIf="orderlength ==0; else oder" >

    <div class="first">

      <h1>Sorry</h1>
      <h4> They are  no oders available</h4>
    </div>

  </ng-container>

<ng-template #oder>

  <ion-list *ngFor="let item of Orders">


    <ion-item>

      <ion-label [routerLink]="[ '/','odrde-details',item.payload.doc.id]" routerLinkActive="active">
        <h3>Order: {{item.payload.doc.id}} </h3>
        <h4 *ngIf="item.payload.doc.data().Paid ; else  pay">Status: {{item.payload.doc.data().status}}</h4>
        <ng-template #pay>
          <h4 > Status: Pending payments</h4>
        </ng-template>

        <p>Total {{item.payload.doc.data().Total |currency:'R'}}</p>
      </ion-label>
    </ion-item>





  </ion-list>
</ng-template>





</ion-content>
