ion-buttons{

  float: right;
}
 p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin-left: 20px;
}
h4,h3{
  margin-left: 20px;
  margin-top: 10px;
  color: #8c8c8c;

}
ion-label{
  color: #8c8c8c;
}
.productImg
{
  width: 250px;
  height: 250px;
  margin:   auto ;
  max-width: 600px;
  text-align: center;
  align-content: center;
}

.cart-button {

  width:80%;
  margin: auto;
}
.originalPrice
{
  text-decoration: line-through;

}
