<ion-header>
  <ion-toolbar *ngIf="product">
    <ion-buttons  slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{product.productName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="product">
  <ion-card>
    <div class="productImg">
    <img src="{{product.productImage}}" />
  </div>
    <ion-card-header>

      <ion-card-title> Price {{product.productPrice|currency:'R'}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>



    </ion-card-content>
  </ion-card>

  <div>
    <h4>Desription</h4>


    <ion-item>
      <ion-label>
        {{product.productDescription}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Category {{product.productCategory}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Supplier    {{product.productSupplier}}
      </ion-label>
    </ion-item>


  </div>




</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="cart-button">
    <ion-button  (click)="addToCart()"  expand="block" color="success">
      Add To cart
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  </div>
  </ion-toolbar>
</ion-footer>
