<ion-header>
  <ion-toolbar *ngIf="product">
    <ion-buttons  slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{product.productName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="product">
  <ion-card>
    <div class="productImg">
    <img src="{{product.productImage}}" />
  </div>
    <ion-card-header>

      <ion-card-title>R{{product.productPrice}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>


     <ion-buttons slot="end"color="success"  >
      <ion-button (click)="subtract()" color="success"  shape="round"   >
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="remove-circle"></ion-icon>
      </ion-button>


          {{qty}}
      <ion-button (click)="add()"  color="success" >
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="add-circle"></ion-icon>
      </ion-button>

    </ion-buttons>
    </ion-card-content>
  </ion-card>

  <div>
    <h4>Desription</h4>
    <p>{{product.productDescription}}</p>

    <h4>Desription</h4>
    <h4>Desription</h4>
  </div>




</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="cart button" slot="end" color="success">
      Add To cart
      <ion-icon slot="end" name="cart"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
