
.header{

  width: 350px;
  margin: 1%;
  height: 180px;
}
.details{

  color: #8c8c8c;
  padding: 10px;
  margin: 1% auto;
}
ion-icon{
  color: #0f9244;
}
ion-img{

  width: 85%;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}
h4,h3{
  margin-left: 20px;
  margin-top: 10px;
  color: #8c8c8c;
}

#container a {
  text-decoration: none;
}

ion-toolbar{
  height: 100x;
}
ion-slide {
  width: 50%!important;

}
/* Without setting height the slides will take up the height of the slide's content */
ion-slides {

}
img{
  height: 150px;
  width: 90%;

}
ion-card{

width: 100%;


}

ion-card-content{
  float: left;

}
ion-card-content ion-icon{
  color: #FFD700;

}
