

  <ion-menu menuId="main" content-id="main"   >
 <ion-header>
   <div class="header" *ngIf="display">
   <ion-img src="../assets/logo.png"></ion-img>
   <div class="details">
  
    <h1>{{display.name}}  {{display.surname}}</h1>
   <ion-note>{{display.email}}</ion-note>
 
   </div>

  </div>
 </ion-header>
  <ion-content>
    <ion-list lines="none">
      <ion-item>
        <ion-icon  name="Home-outline" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-menu-toggle>

        <ion-item  [routerLink]="[ '/category' ]" routerLinkActive="active">
          <ion-icon name="grid-outline" slot="start"></ion-icon>
          <ion-label>Category</ion-label>
        </ion-item>


      </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item [routerLink]="[ '/oders-list' ]" routerLinkActive="active">
        <ion-icon name="pricetags-outline" slot="start"></ion-icon>
        <ion-label>Order</ion-label>
      </ion-item>
    </ion-menu-toggle>
      <ion-item>
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>



        <ion-label [routerLink]="[ '/account' ]" routerLinkActive="active" >My account</ion-label>

      </ion-item>
      <ion-item>




        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label (click)="logout()">Log Out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>




<ion-router-outlet id="main"></ion-router-outlet>



  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <ion-img src="../assets/logo.png"></ion-img>
      </ion-title>

        <ion-buttons slot="start">
          <ion-menu-button  color="success"  slot="start" menu="main"></ion-menu-button>
        </ion-buttons>


        <ion-buttons slot="end" [routerLink]="[ '/home/cart' ]" routerLinkActive="active"  >

            <ion-button >
            <ion-icon  size="large"  slot="icon-only" class="cart-icon" ios="ellipsis-horizontal" md="cart">


            </ion-icon>

          </ion-button>

          <ion-badge color="success" style="position: absolute; right: -1px; top: 0px; ">{{cartCount|async}}</ion-badge>

        </ion-buttons>





    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar  #q   showcancelbutton=""
      (keyup.enter)="search(q.value)"
      >  </ion-searchbar>
    </ion-toolbar>

  </ion-header>





  <ion-content >



    <ion-slides  [options]="slideOpts1" pager="true"  class="top" >

      <!--let foodItem  of foodList-->
      <ion-slide >

        <ion-card class="greenbg">

          <div class=" first" >

            <img src="../assets/1.1.png" />

          </div>

          <div class="top-right">

            <h1>Fresh Combos</h1>

          </div>




        </ion-card>
      </ion-slide>

      <ion-slide >

        <ion-card class="yellow">

          <div class=" first" >

            <img src="../assets/fruits.png" style="width:50%;  object-fit: cover; float: right;" />

          </div>

          <div class="centered">

            <h1>Fresh Fruits</h1>

          </div>




        </ion-card>


      </ion-slide>

      <ion-slide >

        <ion-card class="burner">

          <div class=" first" >

            <img src="../assets/veg.png" style="width: 70%; height:150px; float: left;   " />

          </div>

          <div class="bottom-right">

            <h1>Vegetables</h1>

          </div>




        </ion-card>


      </ion-slide>

    </ion-slides>




    <div id="container">



    <ng-container  *ngIf="promotionNo ==0; else promo "  >


    </ng-container>

    <ng-template #promo>
      <p>Daily Deals</p>

      <ion-slides   [options]="slideOpts">


        <ion-slide *ngFor="let item of promotion">


          <ion-card [routerLink]="[ '/','productdetails',item.payload.doc.id]" routerLinkActive="active">



            <ion-badge *ngIf="item.payload.doc.data().promoStatus" class="percentage" color="danger">{{(item.payload.doc.data().productPrice-item.payload.doc.data().promoPrice)/item.payload.doc.data().productPrice|percent}} <br> off</ion-badge>
            <div class="productImg">

              <img src="{{item.payload.doc.data().productImage}}" />

            </div>

            <ion-card-header>
              <ion-card-title>{{item.payload.doc.data().productName}}</ion-card-title>

              <ng-container *ngIf="item.payload.doc.data().promoStatus, else noPromo" >
                <ion-card-subtitle>{{item.payload.doc.data().promoPrice|currency:'R'}} &nbsp; <span class="originalPrice">{{item.payload.doc.data().productPrice|currency:'R'}}</span>  </ion-card-subtitle>
              </ng-container>
              <ng-template #noPromo>
                <ion-card-subtitle>{{item.payload.doc.data().productPrice|currency:'R'}}</ion-card-subtitle>
              </ng-template>

            </ion-card-header>

            <ion-card-content>
              <ion-icon  name="star"></ion-icon> 5
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide >
          <div class="last-slide">

            <ion-button color="success">
              View All
            </ion-button>

          </div>



        </ion-slide>


      </ion-slides>


    </ng-template>


    <p>Fruits</p>
    <ion-slides   [options]="slideOpts">


      <ion-slide *ngFor="let item of fruits">


        <ion-card [routerLink]="[ '/','productdetails',item.payload.doc.id]" routerLinkActive="active">



          <ion-badge *ngIf="item.payload.doc.data().promoStatus" class="percentage" color="danger">{{(item.payload.doc.data().productPrice-item.payload.doc.data().promoPrice)/item.payload.doc.data().productPrice|percent}} <br> off</ion-badge>
          <div class="productImg">

            <img src="{{item.payload.doc.data().productImage}}" />

          </div>

          <ion-card-header>
            <ion-card-title>{{item.payload.doc.data().productName}}</ion-card-title>

            <ng-container *ngIf="item.payload.doc.data().promoStatus, else noPromo" >
              <ion-card-subtitle>{{item.payload.doc.data().promoPrice|currency:'R'}} &nbsp; <span class="originalPrice">{{item.payload.doc.data().productPrice|currency:'R'}}</span>  </ion-card-subtitle>
            </ng-container>
            <ng-template #noPromo>
              <ion-card-subtitle>{{item.payload.doc.data().productPrice|currency:'R'}}</ion-card-subtitle>
            </ng-template>

          </ion-card-header>

          <ion-card-content>
            <ion-icon  name="star"></ion-icon> 5
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide >
        <div class="last-slide">

          <ion-button color="success">
            View All
          </ion-button>

        </div>



      </ion-slide>


    </ion-slides>

    <p>Vegetables</p>

    <ion-slides   [options]="slideOpts">



      <ion-slide *ngFor="let item of vegetables">


        <ion-card [routerLink]="[ '/','productdetails',item.payload.doc.id]" routerLinkActive="active">



          <ion-badge *ngIf="item.payload.doc.data().promoStatus" class="percentage" color="danger">{{(item.payload.doc.data().productPrice-item.payload.doc.data().promoPrice)/item.payload.doc.data().productPrice|percent}} <br> off</ion-badge>
          <div class="productImg">

            <img src="{{item.payload.doc.data().productImage}}" />

          </div>

          <ion-card-header>
            <ion-card-title>{{item.payload.doc.data().productName}}</ion-card-title>

            <ng-container *ngIf="item.payload.doc.data().promoStatus, else noPromo" >
              <ion-card-subtitle>{{item.payload.doc.data().promoPrice|currency:'R'}} &nbsp; <span class="originalPrice">{{item.payload.doc.data().productPrice|currency:'R'}}</span>  </ion-card-subtitle>
            </ng-container>
            <ng-template #noPromo>
              <ion-card-subtitle>{{item.payload.doc.data().productPrice|currency:'R'}}</ion-card-subtitle>
            </ng-template>

          </ion-card-header>

          <ion-card-content>
            <ion-icon  name="star"></ion-icon> 5
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide >


          <ion-button color="success">
            View All
          </ion-button>

      </ion-slide>


    </ion-slides>
  </div>


  <h4>Click  category on Navigation to View Other categories</h4>

  </ion-content>




